@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body, html{
    overflow-x: hidden;
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
  }

nav img {
    width: 120px;
}

a.navbar-brand {
  display: contents;
}

nav.navbar {
    background-color: #28A745 !important;
  }

#register {
    background-color: #28A745;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 300;
    color: #212529;
}

.card-body h5, h6 {
    color: #707070;
    font-weight: 300;
    font-size: 18px;
}

.card-body p {
    color: #707070;
    font-weight: 300;
    font-size: 15px;
}

.cuppon-price {
    color: #28A745;
}

footer p {
    color: #707070;
}